<div class="history"><div class="cd-timeline-header"><h2 id="Experenice">Experience</h2><hr class="bar"/></div>
  <section id="cd-timeline" class="cd-container"><div class="cd-timeline-block"><div class="cd-timeline-img cd-picture">
    <img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content">
    <h2 class="story-heading">SD</h2><P>SD Negeri 31 Pematang Pudu <br>Tahun 2004-2010</p>
    <span class="cd-date">2004-2010</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div>
   <img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content">
      </div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>SMP</h2><p>SMP Negeri 1 Mandau <br>Tahun 2010-2013</p>
      <span class="cd-date">2010-2013</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div><div class="cd-timeline-block">
   <img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content">
    <div class="cd-timeline-content"><h2>SMA</h2><p>SMA Negeri 2 Mandau <br>Tahun 2013-2016</p>
      <span class="cd-date">2013-2016</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--></div><div class="cd-timeline-block"></div>
   <img src="../assets/img/college.svg" alt="Picture"/></div><!-- cd-timeline-img--><div class="cd-timeline-content">
      </div><!-- cd-timeline-img--><div class="cd-timeline-content"><h2>University</h2><p>UIN SUSKA RIAU <br>Since 2016 - 2019 Amiin</p>
       </p><span class="cd-date">2016 - Current</span></div><!-- cd-timeline-content--><!-- cd-timeline-block--><div class="cd-timeline
        -block"><div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location"/></div></div><!-- 
cd-timeline--></div></section><div class="cd-timeline-header"><h2></h2></div></div>
<div class="cd-timeline-block"><div class="cd-timeline-img cd-location"><img src="../assets/img/graduate38.svg" alt="Location"/>
